@{
    ViewData["Title"] = "Home Page";
    var versionInfo = ViewData["VersionInfo"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="table-div">
    <table id="StreamTable">
        <tr>
            <th>Version Num</th>
        </tr>
        <tr>
            <td>
                @versionInfo
            </td>
        </tr>
    </table>
</div>